<div class="card mb-3">
  <div class="card-header">Api key & Token for Trello</div>
  <div class="card-body">
    <form (ngSubmit)="submit()">
      <div class="form-group">
        <label>Api key
          <input type="text" class="form-control" [(ngModel)]="tokens.api_key" name="api_key" required style="width: 250%;">
        </label>
      </div>
      <div class="form-group">
        <label>Token
          <input type="text" class="form-control" [(ngModel)]="tokens.token" name="token" required style="width: 250%;">
        </label>
      </div>
      <div class="d-flex">
        <button type="submit" class="btn btn-primary">Save</button>
        <button (click)="resetTokens()" type="reset" class="btn btn-danger" style="margin-left: 20px;">Delete tokens</button>
      </div>
      <h4 style="color: greenyellow; margin-top: 20px;">{{ response.success }}</h4>
      <h4 style="color: red; margin-top: 20px;">{{ response.error }}</h4>
    </form>
  </div>
</div>
